<ion-view title="Settings">
  <ion-content class="has-header">
    <ion-list ng-controller="SettingsCtrl as settings">
      <div class="item item-divider centered">Words Per Minute (WPM)</div>
      <ion-item>
        <div class="row">
          <div class="col col-20 centered">
            <menu class="medium">
              <button ng-click="settings.decreaseWPM()" class="plusminus-button"><i class="ion-minus-round plusminus-icons"></i></button>
            </menu>
          </div>
          <div class="col col-60 centered largefont"><p class="settings-values">{{ wpm.value }}</p></div>
          <div class="col col-20 centered">
           <menu class="medium">
              <button ng-click="settings.increaseWPM()" class="plusminus-button"><i class="ion-plus-round plusminus-icons"></i></button>
            </menu>
          </div>
        </div> 
      </ion-item>

      <div class="item item-divider centered">Full Stop Pause Length</div>
      <ion-item>
        <div class="row">
          <div class="col col-20 centered">
            <menu class="medium">
              <button ng-click="settings.decreaseFullStopPauseValue()" class="plusminus-button"><i class="ion-minus-round plusminus-icons"></i></button>
            </menu>
          </div>
          <div class="col col-60 centered largefont"><p class="settings-values">{{ fullStopPause.value }} Second</p></div>
          <div class="col col-20 centered">
           <menu class="medium">
              <button ng-click="settings.increaseFullStopPauseValue()" class="plusminus-button"><i class="ion-plus-round plusminus-icons"></i></button>
            </menu>
          </div>
        </div> 
      </ion-item>

      <div class="item item-divider centered">Comma Pause Length</div>
      <ion-item>
        <div class="row">
          <div class="col col-20 centered">
            <menu class="medium">
              <button ng-click="settings.decreaseCommaPauseValue()" class="plusminus-button"><i class="ion-minus-round plusminus-icons"></i></button>
            </menu>
          </div>
          <div class="col col-60 centered largefont"><p class="settings-values">{{ commaPause.value }} Second</p></div>
          <div class="col col-20 centered">
           <menu class="medium">
              <button ng-click="settings.increaseCommaPauseValue()" class="plusminus-button"><i class="ion-plus-round plusminus-icons"></i></button>
            </menu>
          </div>
        </div> 
      </ion-item>

      <div class="item item-divider centered">Colon/Semi-Colon Pause Length</div>
      <ion-item>
        <div class="row">
          <div class="col col-20 centered">
            <menu class="medium">
              <button ng-click="settings.decreaseColonPauseValue()" class="plusminus-button"><i class="ion-minus-round plusminus-icons"></i></button>
            </menu>
          </div>
          <div class="col col-60 centered largefont"><p class="settings-values">{{ colonPause.value }} Second</p></div>
          <div class="col col-20 centered">
           <menu class="medium">
              <button ng-click="settings.increaseColonPauseValue()" class="plusminus-button"><i class="ion-plus-round plusminus-icons"></i></button>
            </menu>
          </div>
        </div> 
      </ion-item>

    </ion-list>
    


  </ion-content>
</ion-view>
