<ion-view title="Dashboard">
  <ion-content class="has-header padding" scroll="false">

    <div id="container">
      
      <div class="vertical-line"></div>
      <p id="wordarea" style=""></p>
      <div class="vertical-line"></div>


      <br />
      <hr />
    </div>

    <div class="options">

      <div class="row">
        <div class="col col-20 centered">
          <menu class="medium">
            <button class="" id="previoussentence"><i class="ion-skip-backward skipbackward-icon"></i></button>
          </menu>
        </div>
        <div class="col col-60 centered">
          <menu>
            <button id="togglebutton"><i id="togglebutton-icon" class="ion-play play-icon"></i></button>
          </menu>
        </div>
        <div class="col col-20 centered">
          <menu class="medium">
            <button id="nextsentence"><i class="ion-skip-forward skipforward-icon"></i></button>
          </menu>
        </div>
      </div>

      <div class="row">
        <div class="col centered">
          <!-- <button class="button ion-refresh button-positive rounded-button" style="font-size:x-large;" id="resetbutton"></button> -->
          <menu class="medium">
            <button class="reset" id="resetbutton"><i id="resetbutton-icon" class="ion-refresh"></i></button>
          </menu>
        </div>
      </div>

    </div>

    
    <textarea id="textinput" style="display:none;">{{ textString.value }}</textarea>
    
  </ion-content>
</ion-view>
