<ion-view title="Settings">
  <ion-content class="has-header">
    <ion-list>
      <div class="item item-divider centered">Words Per Minute (WPM)</div>
      <ion-item>
        <div class="row">
          <div class="col col-20 centered">
            <button class="button ion-minus-round button-positive rounded-button" style="font-size:x-large;"></button>
          </div>
          <div class="col col-60 centered largefont">350</div>
          <div class="col col-20 centered">
            <button class="button ion-plus-round button-positive rounded-button" style="font-size:x-large;"></button>
          </div>
        </div> 
      </ion-item>

      <div class="item item-divider centered">Full Stop Pause Length</div>
      <ion-item>
        <div class="row">
          <div class="col col-20 centered">
            <button class="button ion-minus-round button-positive rounded-button" style="font-size:x-large;"></button>
          </div>
          <div class="col col-60 centered largefont">1 Second</div>
          <div class="col col-20 centered">
            <button class="button ion-plus-round button-positive rounded-button" style="font-size:x-large;"></button>
          </div>
        </div> 
      </ion-item>

      <div class="item item-divider centered">Comma Pause Length</div>
      <ion-item>
        <div class="row">
          <div class="col col-20 centered">
            <button class="button ion-minus-round button-positive rounded-button" style="font-size:x-large;"></button>
          </div>
          <div class="col col-60 centered largefont">1 Second</div>
          <div class="col col-20 centered">
            <button class="button ion-plus-round button-positive rounded-button" style="font-size:x-large;"></button>
          </div>
        </div> 
      </ion-item>

      <div class="item item-divider centered">Colon/Semi-Colon Pause Length</div>
      <ion-item>
        <div class="row">
          <div class="col col-20 centered">
            <button class="button ion-minus-round button-positive rounded-button" style="font-size:x-large;"></button>
          </div>
          <div class="col col-60 centered largefont">1 Second</div>
          <div class="col col-20 centered">
            <button class="button ion-plus-round button-positive rounded-button" style="font-size:x-large;"></button>
          </div>
        </div> 
      </ion-item>

    </ion-list>
    


  </ion-content>
</ion-view>
